/* VADC APP STYLES */

/* TABLES */
table input[type='checkbox']:checked {
  background-image: unset;
}

div.mantine-DateInput-calendarHeader {
  text-align: center;
  margin: 0 auto;
  display: block;
}
button.mantine-DateInput-calendarHeaderControl svg {
  height: 15px !important;
  width: 15px !important;
  margin: 0 15px;
}
button.mantine-DateInput-calendarHeaderControl svg[data-direction='previous'] {
  transform: rotate(90deg);
  transform-origin: center;
}
button.mantine-DateInput-calendarHeaderControl svg {
  transform: rotate(-90deg);
  transform-origin: center;
}

table .mantine-Button-root.mantine-UnstyledButton-root[data-variant='subtle'] {
  width: 40px; /* Set width */
  height: 40px; /* Set height */
  border-radius: 50%; /* Make it circular */
}

.results-app-hometable th {
  background-color: #e9eef2;
}
.results-app-hometable th .mantine-ActionIcon-icon svg path {
  stroke: #333;
}

/* BUTTONS */
.mantine-Button-root.mantine-UnstyledButton-root:not([data-disabled='true']),
.mantine-Pagination-control.mantine-active {
  background-color: #2e77b8;
  color: #fff;
}

.mantine-Button-root.mantine-UnstyledButton-root:not(
    [data-disabled='true']
  ):hover,
.mantine-Pagination-control.mantine-active:hover {
  background-color: #05b8ee;
}

/* Subtle Buttons */
.mantine-Button-root.mantine-UnstyledButton-root[data-variant='subtle'] {
  background-color: transparent;
  color: unset;
  padding: 0;
}
.mantine-Button-root.mantine-UnstyledButton-root[data-variant='subtle']:hover {
  background-color: #2e77b8;
  color: white;
}

/* Outline Buttons */
.mantine-Button-root.mantine-UnstyledButton-root[data-variant='outline'] {
  background-color: white;
  border: 1px solid #194c90;
  color: #194c90;
}
.mantine-Button-root.mantine-UnstyledButton-root[data-variant='outline']:hover {
  background-color: white;
  color: #194c90;
}

/* Modal */
header.mantine-Modal-header {
  border-bottom: 1px solid #d0dce6;
  margin-bottom: 20px;
}
header.mantine-Modal-header h2 {
  color: #2d77b8;
  font-size: 20px;
}
