/* VADC APP STYLES */

/* TABLES */
table input[type='checkbox']:checked {
  background-image: unset;
}

div.mantine-DateInput-calendarHeader {
  text-align: center;
  margin: 0 auto;
  display: block;
}
button.mantine-DateInput-calendarHeaderControl svg {
  height: 15px !important;
  width: 15px !important;
  margin: 0 15px;
}
button.mantine-DateInput-calendarHeaderControl svg[data-direction='previous'] {
  transform: rotate(90deg);
  transform-origin: center;
}
button.mantine-DateInput-calendarHeaderControl svg {
  transform: rotate(-90deg);
  transform-origin: center;
}

/* BUTTONS */
.mantine-Button-root.mantine-UnstyledButton-root:not([data-disabled='true']),
.mantine-Pagination-control.mantine-active {
  background-color: #2e77b8;
  color: #fff;
}
.mantine-Button-root.mantine-UnstyledButton-root:not(
    [data-disabled='true']
  ):hover,
.mantine-Pagination-control.mantine-active:hover {
  background-color: #05b8ee;
}

/* Modal */
header.mantine-Modal-header {
  border-bottom: 1px solid #d0dce6;
  margin-bottom: 20px;
}
header.mantine-Modal-header h2 {
  color: #2d77b8;
  font-size: 20px;
}
